@model IEnumerable<PruebaCascada.DAL.Productos>

@{
    ViewBag.Title = "Index";
}

        @section scripts
            { 
            <script type="text/javascript">
                console.log("archivo de datoss");
                $(document).ready(function () {
                    //alert("HOLA");
                    $('#tbproductos').DataTable(
                          {
                              "language": {
                                  "sProcessing":     "Procesando...",
                                  "sLengthMenu":     "Mostrar _MENU_ registros",
                                  "sZeroRecords":    "No se encontraron resultados",
                                  "sEmptyTable":     "Ningún dato disponible en esta tabla",
                                  "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                  "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                                  "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                                  "sInfoPostFix":    "",
                                  "sSearch":         "Buscar:",
                                  "sUrl":            "",
                                  "sInfoThousands":  ",",
                                  "sLoadingRecords": "Cargando...",
                                  "oPaginate": {
                                      "sFirst":    "Primero",
                                      "sLast":     "Último",
                                      "sNext":     "Siguiente",
                                      "sPrevious": "Anterior"
                                  },
                                  "oAria": {
                                      "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                      "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                  }
                              },
                              "columnDefs": [
                                { "orderable": false, "targets": 4 },
                                { "searchable": false, "targets": 4 }]                              
                          }

                        );
                });

            </script>
            }
         <div class="row">
                 <div class="col-md-12" >
                     <h2>Index</h2>
                   
                     <div class="row">
                          <div class="col-md-12">
                              <table id="tbproductos" class="display table-bordered" cellspacing="0">
                                  <thead>
                                      <tr>
                                          <th>
                                              @Html.DisplayNameFor(model => model.nombre)
                                          </th>
                                          <th>
                                              @Html.DisplayNameFor(model => model.descripcion)
                                          </th>
                                          <th>
                                              @*@Html.DisplayNameFor(model => model.Categorias.nombre)*@
                                              Categoria
                                          </th>
                                          <th>
                                              @*@Html.DisplayNameFor(model => model.Subcategorias.nombre)*@
                                              Subcategoria
                                          </th>
                                          <th>
                                              Acciones
                                          </th>
                                      </tr>
                                  </thead>

                                  <tbody>
                                      @foreach (var item in Model)
                                      {
                                          <tr>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.nombre)
                                              </td>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.descripcion)
                                              </td>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.Categorias.nombre)
                                              </td>
                                              <td>
                                                  @Html.DisplayFor(modelItem => item.Subcategorias.nombre)
                                              </td>
                                              <td>
                                                  @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                  @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                  @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                              </td>
                                          </tr>
                                      }

                                  </tbody>
                                  <tfoot>

                                      <tr>

                                          <th>
                                              @Html.DisplayNameFor(model => model.nombre)
                                          </th>
                                          <th>
                                              @Html.DisplayNameFor(model => model.descripcion)
                                          </th>
                                          <th>
                                              @*@Html.DisplayNameFor(model => model.Categorias.nombre)*@
                                              Categoria
                                          </th>
                                          <th>
                                              @*@Html.DisplayNameFor(model => model.Subcategorias.nombre)*@
                                              Subcategoria
                                          </th>
                                          <th>
                                              Acciones
                                          </th>
                                      </tr>
                                  </tfoot>
                              </table>
                          </div>
                     </div>
                     <p>
                         @Html.ActionLink("Nuevo", "Create")
                     </p> 
                 </div>
         </div>
  

@*<script src="~/Scripts/jquery-1.12.3.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@






